* {
    box-sizing: border-box;
}

:root {
    --primary-color: #0f1b4c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.content {
    width: 1140px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    color: #fff;
    min-width: 170px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
    border-radius: 12px;
    padding: 19px 37px;
    background: var(--primary-color);
}

.btn:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}

/* header */
.header {
    background: #e6f0ff;
    height: 100vh;
    position: relative;
}

.navbar {
    padding-top: 38px;
    display: flex;
    align-items: center;
}

.navbar ul {
    --distance: 14px;
    display: flex;
    margin-left: calc(64px - var(--distance));
}

.navbar ul li a {
    padding: 8px var(--distance);
    color: #4f5361;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar ul li a:hover {
    text-decoration: underline;
    
}

.navbar .actions {
    margin-left: auto;
}

.navbar .action-link {
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 500;
}


.navbar .action-btn {
    padding: 13px 23px;
    min-width: 80px;
    border-radius: 8px;
    margin-left: 18px;
}

.hero {
    display: flex;
    margin-top: 13rem;
}

.hero .info {
    width: 49%;
}

.hero .sub-title {
    color: #687690;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.018rem;
}

.hero .title {
    margin-top: 0.8rem;
    color: #000336;
    font-size: 6.4rem;
    font-weight: 700;
    line-height: 1.19;
}

.hero .desc {
    margin-top: 3rem;
    color: #5a6473;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.77;
}

.hero .btn {
    margin-top: 4rem;
}

.hero-img {
    position: absolute;
    right: calc((100vw - 1140px) / 2 - 65px);
    bottom: 0;
}

/* client */

.client {
    margin-top: 79px;
}

.client .content {
    padding: 43px 0; 
}

.client .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client .desc {
    color: #7d8589;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.25; /* 125% */
}

.client .row-desc {
    margin-top: 23px;
}

.client .img-trademark {
    margin-top: 109px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client .img-trademark a {
    padding: 31px 41px 23px;
    border-radius: 12px;
}

.client .img-trademark a:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* guides */
.guides {
    margin-top: 40px;
}

.guides .content {
    padding: 79px 0;
}

.guides .sub-title {
    position: relative;
    text-align: center;
    color: #000339;
    font-size: 3.5rem;
    font-weight: 600;
    line-height: 1;
}

.guides .sub-title::before {
    position: absolute;
    top: -10px;
    left: 50%;
    content: "";
    display: inline-block;
    width: 41px;
    height: 4px;
    border-radius: 12px;
    background: #000339;
    transform: translateX(-50%);
}

.guides .desc {
    color: #5a6473;
    width: 459px;
    max-width: 100%;
    margin: 20px auto 0;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.87; /* 187.5% */
}

.list-guides {
    display: flex;
    margin-top: 70px;
    justify-content: center;
}

.item-guides {
    text-align: center;
    margin: 0 70px 0;
}

.item-guides .title {
    margin-top: 26px;
    color: #3b3c45;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.1; /* 110% */
}

.item-guides .link {
    display: inline-block;
    margin-top: 10px;
}

.item-guides .link span {
    color: #0689ff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.item-guides .link .arrow-right {
    padding-left: 5px;
}

.guides .btn-action {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

/* demo */
@media screen and (max-width: 991px) {
    .client .img-trademark {
        flex-wrap: wrap;
        justify-content: center;
    }
}
